* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root { /* O que colocar aqui vai refletir no projeto inteiro */
    --brand-color: #EF5F4C;
    --background-color: #FFFFFF;
    --surface-color: #F5F5F5;
    --skeleton-color: #D9D9D9; 
    --shape-transparency: #ffffff8f;
    --text-color-primary: #313131;
    --text-color-secundary: #6C6C6C;

    --font-family: "Poppins", sans-serif;
    --text: 16px/150% var(font-family);            /* base, padrão*/
    --text-lg: bold 32px/125% var(--font-family); /* grande: => subtítulos, destaques. Na propriedade fonte ela é um shorthand, é obrigatório ter o font-family e tamanho da fonte, peso da fonte.*/
    --text-md: 14px/170% var(--font-family);     /* médio: corpo do texto principal*/
    --text-sm: 12px/170% var(--font-family);    /* pequeno: texto secundário, legendas, notas*/ 

}

body {
    font: var(--text);
    color: var(--text-color-secundary);
    background-color: var(--background-color);
}

a {
    text-decoration: none;
    color: inherit; /* inherit significa herdar, por padrão do navegador está azul. Quando fazemos isso, tiramos a cor azul e buscamos a cor do pai dele(body)*/
}

a:hover { /* ao passar o mouse, teremos uma cor usando uma var*/
    color: var(--brand-color);
    text-decoration: underline;
}

.container { /* vai conter em nivel de projeto*/
    padding-inline: 32px; /* aplica nos lados */
    max-width: 1280px;
    margin-inline: auto; /* só vai mecher nos lados*/
}

.bg-surface-color {
    background-color: var(--surface-color);
}